.header {
    background-color: #E6E6E6;
    
}

.background-c {
     background-color: #C4C4C4;
     color: #005677;
}

ul {
    list-style: none;
}

.conPunto {
    list-style: disc;
}

.footer {
    background-color: #005677;
    color: #FFFFFF;
    text-align: center;
}

.negrita {
    font-weight: bold;
}

ul li spam {
    font-weight: bold;
}